.detail {
  width: 80%;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin: 0 5px 0 0;
  }

  &__button {
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0;
    outline: none;
    border: 0;
    background: transparent;
    border: none;
    margin-left: 10px;
  }

  &__customer-price {
    margin: 25px 0 0;
    display: flex;
    align-items: center;
  }

  &__icon {
    padding: 0 5px 0 0;
  }

  &__text {
    font-size: 14px;
    font-weight: 500;
    padding: 4px 0 0;
    cursor: pointer;
    border-bottom: 1px dashed #000;
  }

  &__price-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__price-info {
    display: flex;
    flex-direction: column;
  }

  &__price {
    font-size: 38px;
  }

  &__installment-price {
    display: flex;
    align-items: center;
  }

  &__part {
    padding: 2px 15px;
    background: #665cff;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
  }

  &__period {
    font-size: 14px;
    color: #707f8d;
    font-weight: 700;
    padding: 0 0 0 10px;
    cursor: pointer;
  }

  &__sostav-block {
    display: flex;
    justify-content: end;
    align-items: end;
  }
}

.model {
  padding: 0 0 0 28px;
  margin: 0 16px 0 0;
  position: relative;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;

  &::before {
    content: "";
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' class='b5u'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h24v24H0z'/%3E%3Cpath fill='currentColor' fill-rule='nonzero' d='M11 19.8v-6.71L4 9.175v6.736l7 3.888zm2 0l7-3.888V9.199l-7 3.887V19.8zm3.5-13.656L9.566 9.996l2.431 1.36L18.94 7.5 16.5 6.144zM14.44 5L12 3.644 5.08 7.489l2.433 1.36L14.441 5zm-2.926-3.374a1 1 0 01.972 0L20.97 6.34A2 2 0 0122 8.088v7.824a2 2 0 01-1.029 1.748l-8.485 4.714a1 1 0 01-.972 0L3.03 17.66A2 2 0 012 15.912V8.088A2 2 0 013.029 6.34l8.485-4.714z'/%3E%3C/g%3E%3C/svg%3E");
    width: 22px;
    height: 22px;
    position: absolute;
    top: -3px;
    left: 0;
  }
}

.stock {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.add-to-wishlist {
  margin: 0 0 0 20px;
  line-height: inherit;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.mobile-type {
  width: 100%;
  display: flex;
  font-size: 14px;
  flex-direction: row-reverse !important;
  font-weight: 600;
}

.buttons {
  align-self: center !important;
}

.price-block {
  display: flex !important;
  line-height: 60px;
  font-weight: 700;
}


.help {
  background: #f1f1f1;
  border: 1px solid #dfdfdf;
  font-size: 13px;
  line-height: 22px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px;

  &::before {
    content: "?";
    font-weight: 700;
    color: #a4a4a4;
  }
}

.sostav-label {
  width: 80px;
  height: 80px;
  background: #f1f1f1;
  color: #000;
  border-radius: 10px;
  cursor: pointer;
}

.count {
  line-height: 100%;
  text-align: center;
  font-size: 20px;
  padding: 15px 0 0;
  font-family: Halvar Engschrift, sans-serif;
}

.text {
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 10px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 5px 0 0;
}

.analogs {
  margin: 25px 0 0;

  &__heading {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
  }

  &__items {
    margin: 0 -5px;
    position: relative;
    display: flex;
  }

  &__item {
    padding: 5px;
    width: 25%;
    height: auto;
  }

  &__items-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 7px;
    border: 2px solid #f1f1f1;
    border-radius: 6px;
    position: relative;
    transition: border-color .2s;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-align: center;
  }

  &__top {
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-align: center;
  }

  &__small {
    display: block;
    color: #707f8d;
    white-space: nowrap;
    font-size: .875em;
  }
}

.sticky--top {
  position: sticky;
  top: 0;
  z-index: 1020;

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0;
    padding: 10px 0;
    background: #fff;
  }

  &__text {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__button {
    width: 100%;
    padding: 1.2rem 3.5rem;
    font-size: 18px;
  }

  &__price {
    display: none !important;
  }
}

.mobile--type {
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #000;
}

.shipping {
  display: flex;

  &__items {
    display: flex !important;
    justify-content: center !important;
    width: 100%;
    border-radius: 0;
    padding: 5px 10px;
    font-size: 13px;
    background: #f1f1f1;
    color: #000;
  }

  &__icon {
    padding: 0 10px 0 5px;
    text-align: center;
  }

  &__text {
    font-size: 13px;
    text-align: center;
  }
}

.add--span {
  color: #dfdfdf;
}

.options {
  margin: 0 0 30px;
  padding: 20px 15px;
  background: #fff;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
  border-radius: 0 0 5px 5px;
  cursor: pointer;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px;
  }

  &__add {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__text {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
  }
}

.arrows {
  display: flex;
  gap: 2rem;
}

.tabs {
  display: flex;
  justify-content: center;

  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    padding: 4px 0;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 20px;
  }
}

.tab {
  padding: 5px 20px;
  margin: 0 4px;
  cursor: pointer;

  &:hover {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
  }
}

.slider {
  &__slide {
    width: calc(33.33333% - 6.66667px);
    margin-right: 10px;
    flex-shrink: 0;
    height: auto;
    padding: 5px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    height: 100%;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
    padding: 0;
  }

  &__price {
    font-size: 14px;
  }
}

.top {
  border: 2px solid transparent;
  border-radius: 5px 5px 0 0;

  &__button {
    &:hover {
      background-color: #665cff;
      color: #dfdfdf;
    }
  }
}

.image {
  padding: 10px;
}

.img {
  border-radius: 5px;
  width: 100%;
}

.name {
  padding: 10px 10px 5px;
  margin: 0;
  line-height: 18px;
  font-size: 13px;
  word-wrap: break-word;
  display: -webkit-box;
  overflow: hidden;
  max-height: 66px;
}

.price {
  margin: 0 auto;
  padding: 10px 10px 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: black;
}

.buttons {
  width: 100%;
}

button {
  background-color: #f1f1f1;
  color: #000;
  width: 100%;
  height: 100%;
  border: 0;
  text-transform: uppercase;
  font-size: 11px;
  padding: 10px;
  font-weight: 700;
  border-radius: 0 0 5px 5px;
}

.delivery {
  margin: 50px 0 0;

  &__address {
    display: flex;
    align-self: center;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
  }

  &__city {
    cursor: pointer;
    padding: 0 0 0 5px;
  }

  &__span {
    padding-bottom: 0;
    border-bottom: 1px dashed #000;
    color: #665cff;
  }
}

.delivery-shippping {
  margin: 15px 0 0;
  display: flex;
  flex-direction: column;
}

.delivery-shippping-item {
  width: 75% !important;
  display: flex;
}

.shipping--text {
  font-size: 10px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1rem;
}

.delivery--point {
  color: #665cff;
  border-bottom: 1px dashed #000;
  cursor: pointer;
}

.descriptions {
  margin: 50px 0 0;

  &__title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  &__subtitle {
    font-size: 15px;
    margin-bottom: 1rem;
  }
}

.benefit {
  padding: 40px 0 20px;
  margin: 0;
  background: transparent;
}

.items {
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);

  &__column {
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
    height: auto;
    margin: 0;
  }

  &__title {
    padding: 20px;
    font-size: 16px;
    text-align: left;
  }

  &__image {
    margin-top: 0;
    padding: 0;
  }
}

.img-fluid {
  border-radius: 5px 0 0 5px;
  max-width: none;
  width: 120px;
}

.composition {
  margin: 30px 0 0;

  &__item {
    border: 2px solid #665cff;
    border-radius: 10px;
    padding: 15px 20px;
    margin: 0 0 10px;
    cursor: pointer;
  }
}

.title-color {
  color: #665cff;
}

.text-font {
  text-align: start;
  margin: 0;
  color: #000;
  font-weight: 400;
}

.checkout {
  margin-top: 50px;

  &__heading {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 15px;
    font-weight: 700;
  }
}


.packing {
  margin: 50px 0 0;
  font-weight: 400;

  &__text {
    width: 100%;
    margin: 0;
    text-align: start;
    line-height: 18px;
    font-weight: 400;
    font-size: 11px;
  }

  &__items {
    margin: 10px 0 0;
  }

  &__item {
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
  }

  &__span {
    padding: 0 20px 0 0;
  }
}

.story {
  margin: 30px 0 0;
  font-weight: 300;

  &__text {
    width: 100%;
    margin: 0;
    text-align: start;
    line-height: 18px;
    font-weight: 400;
    font-size: 11px;
  }

  &__info {
    margin-bottom: 1rem;
  }

  &__mix {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
}

.slideshow {
  width: 588px;

  &__images {
    position: relative;
  }

  &__container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }

  &__slide {
    margin: 0 196px;
    width: 70%;
  }

  &__img {
    width: 95%;
  }

  &__arrows {
    margin-top: 20px;
    justify-content: space-between;
  }
}

.counter {
  margin: 70px 0;

  &__items {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    background: #665cff;
  }

  &__item {
    color: #fff;
    padding: 75px 30px 75px 50px;
  }

  &__title {
    font-weight: 700;
    font-size: 2rem;
  }

  &__text {
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    font-weight: 500;
  }
}


@media(max-width: 990px) {
  .detail-row {
    flex-direction: column-reverse;
  }
  .detail-column {
    width: 100%;
  }
  .slideshow {
    width: 100%;

    &__slide {
      margin: 0 30px;
    }
  }
  .slick-dots {
    position: initial;
  }
  .detail {
    width: 100%;
  }
  .statistic-column {
    width: 50%;
    margin: 20px 0;
  }
  .counter {
    &__title {
      font-size: 3rem;
    }
  }
}

@media(max-width: 620px) {
  .counter {
    &__title {
      font-size: 1.6rem;
    }

    &__text {
      font-size: 11px;
    }
  }
  .slideshow {
    &__slide {
      margin: 0 auto;
      display: flex !important;
      justify-content: center;
    }
  }
}

@media(max-width: 480px) {
  .statistic-column {
      width: 100%;
    }
  .counter {
    &__items {
      width: 100%;
    }
    &__title {
      font-size: 3.6rem;
    }
    &__text {
      font-size: 17px;
    }
  }
}