.sale-detail {
  &__description {
    margin: 50px 0 0;
  }

  &__button {
    margin-top: 80px !important;
  }

  &__btn {
    &:hover {
      background: rgba(103, 91, 251, 255);
    }
  }
}

.data {
  color: #a4a4a4;
  display: flex;
  align-items: center;

  &__number,
  &__image,
  &__view {
    margin: 0 10px 0 0;
  }

  &__image {
    display: flex;
    align-items: center;
  }
}

.description {
  width: 100%;

  &__image {
    width: 100%;
  }

  &__img {
    width: 100%;
  }

  &__title {
    width: 700px;
    font-family: inherit !important;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: #000;
    margin-top: 50px;

    &:last-child {
      margin-top: 0;
    }
  }
}

.button--block {
  width: 75%;
  margin: 40px 0;
  text-align: center;

  &__btn {
    cursor: pointer;
    color: #fff;
    background-color: #000;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid transparent;
    padding: 1rem 1.5rem;
    font-size: 16px;
    border-radius: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
}

@media (max-width: 820px) {
  .description {
    &__title {
      width: 500px;
      font-size: 17px;
      line-height: 27px;
    }
  }
}

@media (max-width: 820px) {
  .description {
    &__title {
      align-items: center;
      width: 100%;
      font-size: 17px;
      line-height: 27px;
    }
  }
}

@media (max-width: 620px) {
  .button--block {
    width: 75%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .sale-detail {
    &__button {
      margin-top: 40px !important;
    }
  }
  .button--block {
    &__btn {
      font-weight: 400;
      font-size: 13px;
    }
  }
}