.wrapper{
  margin-top: 60px;
  margin-bottom: 50px;
}

.article{
  width: 95%;
  margin-bottom: 50px;
  &__image{
    cursor: pointer;
  }
  &__img{
    height: 271px;
    width: 100%;
  }
  &__info{
    margin: 10px 0 20px;
  }
  &__title{
    font-size: 18px;
    font-weight: 700;
  }
}