.row{
  margin-top: 1rem;
}
.suppliers-description{
  color: #000;
  box-sizing: border-box;
  margin: 50px 0;
  font-size: 20px;
}
.contacts-step{
  font-size: 20px;
  box-sizing: border-box;
  padding-left: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.image{
  margin-top: 40px;
}