.sort{
  &__select{
    border: 2px solid  #f1f1f1;
    position: relative;
    cursor: pointer;
  }
  &__title{
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 600;
  }
  &__items{
    width: 90%;
    margin: 0 0 20px;
  }
  &__item{
    margin: 0 0 30px;
  }
  &__buttons{
    display: flex;
  }
  &__btn{
    border: 0;
    background: none;
    padding: 15px 0;
    text-transform: uppercase;
    background: #f1f1f1;
    width: 50%;
    border-right: 1px solid #ccc;
    &--border{
      border-right: none;
    }
  }
  &__img{
    width: 18px;
  }
  &__text{
    font-weight: 700;
  }
  &__content{
    position: relative;
    visibility: visible;
    border-color: #f1f1f1;
  }
  &__content--radio{
    border-radius: 0;
  }
  &__close-btn{
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 20;
    top: 0;
    right: 0;
  }
  &__top-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.accept{
  display: none;
  position: sticky;
  bottom: -18px;
  z-index: 20;
  padding: 1rem;
  margin: 0 -1rem 1rem;
  background: #fff;
  box-shadow: 0 12px 14px 10px rgb(0 0 0 / 15%);

  &__btn{
    font-weight: 700;
    line-height: 1.5;
    padding: 10px 20px;
    width: 50%;
    background: #f1f1f1;
    border-color: #f1f1f1;
  }

  &__btn--show{
    color: #fff;
    background: #ff4a62;
    border-color: #ff4a62;
  }
}

.content{
  &__input--margin{
    margin: 0 0 20px;
  }
}

.title{
  font-weight: 400;
  font-size: 17px;
}

.content__checked-input:checked +  .sort__content--radio:after{
  border-radius: 0;
}

@media(max-width: 990px){
  .sort{
    display: none;
    &__items {
      width: 100%;
    }
    &__top-items{
      width: 100%;
      box-shadow: 0 -2px 14px 0 rgb(0 0 0 / 15%);
      border-bottom: 0;
      margin-bottom: 20px;
      position: sticky;
      bottom: -5px;
      z-index: 20;
      background: #fff;
    }
    &__close-btn{
      display: block;
    }
  }

  .accept{
    display: block;
  }

  .sort-active{
    display: block;
    position: fixed;
    margin-left: -11px;
    bottom: 0;
    width: 100%;
    background: #ffffff;
    z-index: 500;
    flex-grow: 1;
    padding: 1rem;
    overflow-y: scroll;
    max-height: 100%;
  }
}