.builder {
  display: flex;
  justify-content: space-between;

  &__column {
    margin: 0 0 30px;
  }
}

.builder-top {
  width: 100%;
  margin-top: 30px;
}

.left {
  &__box {
    position: relative;
    height: 100%;
  }

  &__cover {
    width: 95%;
    border-radius: 10px;
    border: 2px solid #dfdfdf;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    height: 100%;
  }

  &__img {
    max-width: 100%;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto !important;
  }

  &__info {
    line-height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__info--price {
    color: #ff4a62;
    font-size: 23px;
    font-weight: 700;
  }

  &__old--price {
    font-size: 18px;
    text-decoration: line-through;
    margin: 0 0 0 15px;
  }

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
}

.button-description {
  position: absolute;
  top: 3%;
  right: 8%;
  text-align: left;

  &__cover {
    margin: 0;
    text-align: center;
    background: transparent;
    border: 1px solid #a4a4a4;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 24px;
    font-size: 16px;
    cursor: pointer;

    &:before {
      content: "?";
      font-weight: 700;
      color: #a4a4a4;
    }
  }
}

.various {
  position: absolute;
  top: 5%;
  left: 5%;
  right: auto;

  &__craft {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    margin: 0 4px;
    cursor: pointer;
    border: 1px solid #fff;
  }
}

.various-graft {
  background-color: #dab991;
  border-color: #dab991;
}

.right {
  width: 40%;
  margin: 0 0 0 15px;
  align-self: flex-start;
  position: -webkit-sticky;
  //position: sticky;
  top: 15px;

  &__cart {
    background-color: #f1f1f1;
    padding: 20px;
  }

  &__top {
    overflow-y: scroll;
    margin: 15px -20px 0;
    padding: 0 20px 15px;
  }

  &__chosen-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 20px;
    text-transform: uppercase;
  }

  &__close {
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    outline: none;
    border: 0;
    padding: 0;
  }

  &__products {
    margin: 20px 0 0;
  }

  &__products--row {
    display: flex !important;
    align-items: center !important;
  }

  &__product--name {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    padding: 0 5px 0 0;
    cursor: pointer;
    width: calc(60% - 14px);
  }

  &__product--amount {
    font-size: 14px;
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__product--number {
    width: 100%;
    border: 1px solid transparent;
    position: relative;
    padding: 10px;
    background: #f1f1f1;
    text-align: center;
    height: 100%;
  }

  &__input {
    border: 0;
    background: 0;
    text-align: center;
    width: 50%;
    height: 100%;
    padding: 0;
    color: #000;
  }

  &__packing--item {
    width: 60%;
  }

  &__bottom {
    margin-top: 65%;
  }

  &__filling {
    margin: 0 -20px 20px;
    padding: 20px;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
  }

  &__filling--title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 5px;
  }

  &__totals {
    height: 3rem;
    display: flex !important;
  }

  &__total--amount {
    justify-content: end;
  }

  &__total--number {
    margin-left: 20px;
    font-size: 22px;
    text-align: right;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
  }
}

.open {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;

  &__plus {
    margin: 0 10px 0 0;
  }
}

.progress {
  width: 90%;
  height: 19px;
  display: flex;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50px;

  &__bar {
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #000;
    transition: width .6s
  }
}

.checkout {
  margin: 15px 0 0;

  &__present {
    display: flex !important;
    justify-content: space-between !important;
    align-items: flex-end !important;
    margin: -15px 0 15px;
    cursor: pointer;
  }

  &__text {
    font-size: 13px;
    padding: 4px 0 0;
    line-height: 16px;
    margin: 0 0 5px;
  }

  &__error--block {
    border: 2px solid #000;
    padding: 1rem 1.5rem;
    font-size: 14px;
    text-align: center;
  }

  &__present--icon {
    fill: red;
  }
}

.main--title {
  text-decoration: underline;
}

.filter{
  margin-top: 20px;
  &__select{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #000;
    position: relative;
    cursor: pointer;
    &:after{
      content: '';
      position: absolute;
      width: 10px;
      height: 2px;
      background: #000;
      right: 20px;
      transform: rotate(-40deg);
    }
    &:before{
      content: '';
      position: absolute;
      width: 10px;
      height: 2px;
      background: #000;
      right: 26px;
      transform: rotate(40deg);
    }
  }
  &__title{
    padding: 15px 20px;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    text-transform: none;
  }
  &__input{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #000;
    text-indent: 20px;
    &::placeholder{
      font-size: 14px;
      text-indent: 20px;
    }
  }
}

.content{
  visibility: hidden;
  padding: 10px 20px;
  position: absolute;
  z-index: 11;
  width: calc(100% + 4px);
  top: 100%;
  left: -2px;
  background: #fff;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  &__item{
    margin: 0 0 10px;
  }
  &__input{
    font-weight: normal;
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 0 10px;
  }
  &__checked-input{
    display: none;
  }
}

.open{
  border-color: #f1f1f1;
  &::after{
    display: none;
  }
  &::before{
    display: none;
  }
}

.open .content{
  visibility: visible;
}

.control-indicator-radio{
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background: #fff;
  border: 2px solid;
  &:after{
    content: "";
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 3px;
    height: 9px;
    width: 9px;
    background: #fff;
  }
}

.content__checked-input:checked +  .control-indicator-radio:after{
  content: "";
  border-radius: 50%;
  position: absolute;
  left: 3px;
  top: 3px;
  height: 9px;
  width: 9px;
  background: #665cff;
}