@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

body{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  color: #000;
}

.container{
  max-width: 1300px;
  margin: auto;
  padding: 0 10px;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-9{
  width: 75%;
}

.col-6{
  width: 50%;
}

.col-3{
  width: 25%;
}

.col-12{
  width: 100%;
}

.col-4{
  width: 33.33333%;
}

.col-2{
  width: 16.6666%;
}

.col-8{
  width: 66.66%;
}

img, svg {
  vertical-align: middle;
}